{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<meta http-equiv="refresh" content="20" >
<div class="content-top">



  <div class="col-md-4 ">

    <div class="content-top-1">
    <div class="col-md-12 top-content">
      <p>Monthly Turn over : {{profit}} INR</p>
      <a href="/appointment/{{store_id}}/monthlist/"> <p>Details</p> </a>
    </div>
     <div class="clearfix"> </div>
    </div>


    <div class="content-top-1">
    <div class="col-md-12 top-content">
        <form method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}
        <table>{{ csearch|crispy }}</table>
        <input type='submit'class="btn btn-primary" value='Create Appointment' />

        </form>


    </div>
     <div class="clearfix"> </div>
    </div>

    <div class="content-top-1">
    <div class="col-md-12 top-content">
      Employee Count : {{ empc }}
    </div>
    <div class="clearfix"> </div>
    </div>
  </div>
  <div class="col-md-8 content-top-2">
    <!---start-chart---->
    <!----->

    <div class="content-top-1">
    <div class="col-md-12 top-content">
      <h3>Upcoming Appointments</h3><br/>
      <a href="/appointment/{{store_id}}/"> <p>refresh</p> </a>
      <table class="table" style="margin-top:30px">

                  <thead>
                    <tr>
                      <th>Employee</th>
                      <th>Customer</th>
                      <th>Start Time</th>
                      <th>End Time</th>
                    </tr>
                  </thead>
                  <tbody>
      {% for obj in appoint %}


                    <tr>
                      <td>{{ obj.Employee.name }}</td>
                      <td>{{ obj.customer.name }}</td>
                      <td>{{ obj.schedule|time:"P" }}</td>
                      <td>{{ obj.schedule_end|time:"P" }}</td>
                    </tr>

      {% endfor %}

                    </tbody>
                  </table>


          <br/> <br/>
          <a href="/appointment/{{store_id}}/applist/"> <button class="btn btn-primary">Complete List</button> </a>

    </div>

     <div class="clearfix"> </div>
    </div>

</div>
<div class="clearfix"> </div>
</div>
{% endblock %}
