{% extends "base.html" %}
{% block content %}
<div class="banner" style="margin-bottom:20px">
<h1>Employees</h1><br/>
<div>

  <a href=/appointment/{{store_id}}/cemployee> <button class="btn btn-primary">Add Employee</button> </a>
  <br/><br/>

  <h1>{{ title }}</h1>
  <form method='GET' action=''>


  <input type='text' name='q' placeholder='Search Offer' class='form-control' value='{{ request.GET.q }}'/>
  <input type='submit' class="btn btn-success" value='Search' style="margin-top:5px"/>
  </form>
  <table class="table table-striped" style="margin-top:30px">
              <thead>
                <tr>
                  <th>Employee</th>
                  <th>Address</th>
                  <th>Email</th>
                  <th>Contact</th>
                </tr>
              </thead>
              <tbody>
  {% for obj in object_list %}

                <tr>
                  <td><a href="/appointment/{{store_id}}/empdetails/{{obj.id}}/">{{ obj.name }}</a></td>
                  <td>{{ obj.address }}</td>
                  <td>
                    {{ obj.email }}
                  </td>
                  <td>{{ obj.contact }}</td>
                  <td><a href="/appointment/{{store_id}}/uemployee/{{obj.id}}">Update</a></td>
                  <td><a href="/appointment/{{store_id}}/delemployee/{{obj.id}}">Delete</a></td>
                </tr>

  {% endfor %}

                </tbody>
              </table>


  <div class="pagination">
      <span class="step-links">
          {% if object_list.has_previous %}
              <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
          {% endif %}

          <span class="current">
              Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
          </span>

          {% if object_list.has_next %}
              <a href="?{{ page_request_var }}={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
          {% endif %}
      </span>
  </div>

</div>
</div>
{% endblock %}
